.header {
    height: 86px;
    background-color: #005a9c;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    padding: 0 24px;
    color: white;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.menu-button {
    background: transparent;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
}

.menu-text {
    font-size: 1.8rem;
    font-weight: 300;
}

.imagem{
    height: 24px;
}

.header-right {
    display: flex;
    align-items: center;
    
}

.header-right a {
    color: white;
    text-decoration: none;
    font-size: 0.95rem;
}

.header-right img {
    width: 22px;
    height: 22px;
}

.divider {
    width: 1px;
    height: 40px;
    background: rgba(255, 255, 255, 0.6);
}